deploy.bat
base-graphics-path.txt
graphics/*.png
graphics/atoms/*
graphics/bonds/*
graphics/icon-overlays/*
graphics/building-overlays/*
graphics/recipes/*
graphics/shapes/*
graphics/selectors/*
graphics/technologies/*
