deploy.bat
graphics/*.png
graphics/base-graphics-path.txt
graphics/atoms/*
graphics/bonds/*
graphics/icon-overlays/*
graphics/building-overlays/*
graphics/recipes/*
graphics/shapes/*
graphics/selectors/*
